# node
/node_modules
yarn.lock
package-lock.json

# python
__pycache__
*.pyc
env

# php
composer.lock
composer.phar
/vendor/

# Microsoft Code
.vscode

# env
.env

# app
transit.db
public/trip-updates.json
